hr.featurette-divider

.footer(class='text-center')
    p 2019 Software engineering: 김수아, 배수혜, 이성희, 최리안
    p (우)03674 서울특별시 서대문구 거북골로 34
    p T_82 (0)2-1234-5678
    p Copyright © 2019, Co., Ltd. All Rights Reserved.