header.blog-header.py-3
    .row.flex-nowrap.justify-content-between.align-items-center
        .col-2
        .col-8.text-center
            h3.text-dark(href='/') 명지대학교 강의실 예약
        .col-2
            if(userid == null) 
                a.btn.btn-outline-secondary(href='/signin', data-toggle='modal', data-target='#signinModal') 로그인
                include ../signin.pug
            else 
                a.btn.btn-outline-secondary(href='/signout') 로그아웃
