.nav-scroller.py-1.mb-2
    nav.nav.d-flex.justify-content-between
        a.p-2.text-dark(href='/') 홈
        a.p-2.text-dark(href='/reservation') 강의실 예약
        a.p-2.text-dark(href='/') 예약 확인
        a.p-2.text-dark(href='/') 문의